<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Comments</title>
</head>

<body>
	<form>
		<h1>Edit Comment</h1>
		<h2>
			<%= comment.username %>
		</h2>
		<section><label for="comment">Comment</label>
			<textarea name="comment" id="comment" cols="30" rows="10"><%= comment.comment %></textarea>
		</section>
		<button>Submit</button>
	</form>

</body>

</html>