<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Comments</title>
</head>

<body>
	<form action="/comments" method="POST">
		<h1>New Comment</h1>
		<section>
			<label for="username">Username</label>
			<input type="text" name="username" id="username">
		</section>
		<section><label for="comment">Comment</label>
			<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
		</section>
		<button>Submit</button>
	</form>

</body>

</html>